<!DOCTYPE html>
<html lang = "vi">
<head>
	<meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Form nhập tên và tên lót</title>
</head>
<body>
	<form action = "/HelloWorld/home" method = "GET">
		<label for = "firstname">Họ lót:</label>
		<input type = "text" id = "firstname" name = "holot" placeholder="Nhập họ lót"><br><br>
		
		<label for = "lastname">Tên:</label>
		<input type = "text" id = "lastname" name = "ten" placeholder="Nhập tên"><br><br>
		
		<input type = "submit" value = "Gửi">
	
	</form>
</body>
</html>